# Do not look upwards to include settings from other dirs
root = true

#[*]
#indent_style = tab
#tab_width = 4
#indent_style = space
#indent_size = 4

[*.groovy]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[Jenkinsfile*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
